<mat-card>
    <mat-card-title>Lookup Management</mat-card-title>
    <mat-card-content>
      <form [formGroup]="lookupForm" (ngSubmit)="createNewLookup()">
        <mat-form-field appearance="fill">
          <mat-label>Lookup Code</mat-label>
          <input matInput formControlName="LookupCode" >
          <mat-error *ngIf="lookupForm.get('LookupCode')?.invalid">Lookup Code is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Lookup Description</mat-label>
          <input matInput formControlName="LookupDescription" required>
          <mat-error *ngIf="lookupForm.get('LookupDescription')?.invalid">Lookup Description is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Lookup Category</mat-label>
          <input matInput formControlName="LookupCategory" required>
          <mat-error *ngIf="lookupForm.get('LookupCategory')?.invalid">Lookup Category is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="Status">
            <mat-option [value]="1">Active</mat-option>
            <mat-option [value]="0">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
 
  
        <div>
        
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="lookupForm.invalid">
            Create Lookup
          </button>
      </form>
  
      <div *ngIf="lookups.length">
        <h3>Existing Lookups</h3>
        <ul>
          <li *ngFor="let lookup of lookups">
            {{ lookup.LookupCode }} - {{ lookup.LookupDescription }}
          </li>
        </ul>
      </div>
      <div *ngIf="!lookups.length">
        <p>No lookups found.</p>
      </div>
    </mat-card-content>
  </mat-card>
  
  