

<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">

    <mat-toolbar style="background: none;">
      <h1 class="mat-h1">Dashboard</h1>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" style="border-radius: 24px;">Generate Report</button>
    </mat-toolbar>
  
    <div class="cards-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
      
      <mat-card class="dashboard-card" style="background: #E0F7FA;" fxFlex="24%" fxFlex.xs="100%" style="margin: 10px;">
        <mat-card-header>
          <div style="display: flex; align-items: flex-start;">
            <mat-icon>attach_money</mat-icon>
            <span class="example-spacer"></span>
            <div class="frame-8717">
              <div class="streamline-money-graph-arrow-increase-ascend-growth-up-arrow-stats-graph-right-grow">
                <svg class="group2" width="16" height="9" viewBox="0 0 16 9" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.8571 0.5H15.4286V5.07143" stroke="#19744C" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M15.4286 0.5L8.97143 6.95714C8.86461 7.06184 8.721 7.12049 8.57143 7.12049C8.42185 7.12049 8.27824 7.06184 8.17143 6.95714L5.54286 4.32857C5.43604 4.22387 5.29243 4.16522 5.14286 4.16522C4.99328 4.16522 4.84967 4.22387 4.74286 4.32857L0.571426 8.5"
                        stroke="#19744C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="_20-9">20.9%</div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size: 24px;">Total Revenue</div>
          <div class="total">₹ 76,100</div>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="dashboard-card" style="background: #FFEBEE;" fxFlex="24%" fxFlex.xs="100%" style="margin: 10px;">
        <mat-card-header>
          <div style="display: flex; align-items: flex-start;">
            <mat-icon>person</mat-icon>
            <span class="example-spacer"></span>
            <div class="frame-8717">
              <div class="streamline-money-graph-arrow-increase-ascend-growth-up-arrow-stats-graph-right-grow">
                <svg class="group2" width="16" height="9" viewBox="0 0 16 9" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.8571 0.5H15.4286V5.07143" stroke="#19744C" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M15.4286 0.5L8.97143 6.95714C8.86461 7.06184 8.721 7.12049 8.57143 7.12049C8.42185 7.12049 8.27824 7.06184 8.17143 6.95714L5.54286 4.32857C5.43604 4.22387 5.29243 4.16522 5.14286 4.16522C4.99328 4.16522 4.84967 4.22387 4.74286 4.32857L0.571426 8.5"
                        stroke="#19744C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="_20-9">15.4%</div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size: 24px;">Total Users</div>
          <div class="total">1,250</div>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="dashboard-card" style="background: #E8F5E9;" fxFlex="24%" fxFlex.xs="100%" style="margin: 10px;">
        <mat-card-header>
          <div style="display: flex; align-items: flex-start;">
            <mat-icon>star</mat-icon>
            <span class="example-spacer"></span>
            <div class="frame-8717">
              <div class="streamline-money-graph-arrow-increase-ascend-growth-up-arrow-stats-graph-right-grow">
                <svg class="group2" width="16" height="9" viewBox="0 0 16 9" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.8571 0.5H15.4286V5.07143" stroke="#19744C" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M15.4286 0.5L8.97143 6.95714C8.86461 7.06184 8.721 7.12049 8.57143 7.12049C8.42185 7.12049 8.27824 7.06184 8.17143 6.95714L5.54286 4.32857C5.43604 4.22387 5.29243 4.16522 5.14286 4.16522C4.99328 4.16522 4.84967 4.22387 4.74286 4.32857L0.571426 8.5"
                        stroke="#19744C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="_20-9">30.1%</div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size: 24px;">Average Rating</div>
          <div class="total">4.5</div>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="dashboard-card" style="background: #FFF8E1;" fxFlex="24%" fxFlex.xs="100%" style="margin: 10px;">
        <mat-card-header>
          <div style="display: flex; align-items: flex-start;">
            <mat-icon>info</mat-icon>
            <span class="example-spacer"></span>
            <div class="frame-8717">
              <div class="streamline-money-graph-arrow-increase-ascend-growth-up-arrow-stats-graph-right-grow">
                <svg class="group2" width="16" height="9" viewBox="0 0 16 9" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.8571 0.5H15.4286V5.07143" stroke="#19744C" stroke-linecap="round"
                        stroke-linejoin="round"/>
                  <path d="M15.4286 0.5L8.97143 6.95714C8.86461 7.06184 8.721 7.12049 8.57143 7.12049C8.42185 7.12049 8.27824 7.06184 8.17143 6.95714L5.54286 4.32857C5.43604 4.22387 5.29243 4.16522 5.14286 4.16522C4.99328 4.16522 4.84967 4.22387 4.74286 4.32857L0.571426 8.5"
                        stroke="#19744C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="_20-9">5.6%</div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size: 24px;">New Issues</div>
          <div class="total">56</div>
        </mat-card-content>
      </mat-card>
  
    </div>
    <div class="cards-container">
    <mat-card class="dashboard-card1" style="background: #E8F5E9;" fxFlex="24%" fxFlex.xs="100%" style="margin: 10px;">
      <mat-card>
        <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [type]="'bar'">
      </canvas>
      </mat-card>
    </mat-card>
  

  
  <mat-card class="dashboard-card1">
  <canvas baseChart
          [datasets]="[{ data: pieChartData }] "  
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
    
          [type]="'pie'">
  </canvas>
</mat-card>
</div>